* {
    font-family: inherit;
}

.chat-window {
    --size: calc(((2.7vh * 1.2)) * 6);
    position: absolute;
    top: calc(60% - (var(--size) / 2));
    left: 1.5%;
    user-select: none;
    border-radius: 25px;
    max-width: 680px;
    background: linear-gradient(to right,#9100ff, #090092, #0089a9, #00800000, #00800000); !important
    height: 215px !important;
}

@font-face {
    font-family: 'Font2';
    src: url(https://runtime.fivem.net/temp/ChaletLondonNineteenSixty.otf?a);
}

@font-face {
    font-family: 'Font2_cond';
    src: url(https://runtime.fivem.net/temp/chaletcomprime-colognesixty-webfont.ttf?a);
}

.msg {
    font-family: Font2, sans-serif;
    color: #fff;

    font-size: calc(1.8vh); /* 13px in 720p, calc'd by width */
    filter: url(#svgDropShadowFilter);

    line-height: calc(2.7vh * 1.2);

    margin-bottom: 0;
}

.chat-messages {
    height: 205px;
}

.msg > span > span > b {
    font-family: Font2_cond, sans-serif;
    font-weight: normal;

    vertical-align: baseline;
    padding-right: 11px;

    line-height: 1;

    font-size: calc(2.7vh);
}

.msg > span > span > span {
    vertical-align: baseline;
}

.msg i:first-of-type {
    font-style: normal;
    color: #c0c0c0;
}

.chat-input {
    position: absolute;
    bottom: calc(2.77vh);
    background: inherit !important;
    text-align: right;
    top: 70.5%;
    left: 1.5%;
    height: auto;
    font-family: Font2, sans-serif;
    border-radius: 25px;
    width: 685px;
}

.chat-input > div {
    padding: calc(0.28vh / 2);
    border-radius: 25px;
    background: linear-gradient(to right,#9100ff, #090092, #0089a9, #00800000, #00800000); !important
}

.chat-input .prefix {
    margin: 0;
    margin-left: 0.7%;
    margin-top: -0.1%;
}

.chat-input > div + div {
    position: absolute;
    bottom: calc(1.65vh + 0.28vh + 0.28vh + 0.28vh + (0.28vh / 2));
    width: 99.6%;

    text-align: left;
}

.suggestions {
    border: calc(0.28vh / 2) solid rgba(180, 180, 180, .6);
    background: transparent;
}

textarea {
    background: transparent;
    padding: calc(0.28vh / 2);
    padding-left: calc(3.5% + (0.28vh / 2));
}

@media screen and (min-aspect-ratio: 21/9) {
	.chat-window, .chat-input {
		right: calc(12.8vw);
	}
}

@media screen and (min-aspect-ratio: 32/9) {
	.chat-window, .chat-input {
		right: calc(25vw);
	}
}
